<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="main.main()"/>
    <add key="PYTHONPATH" value="C:\Data\DEV\ControllerWeb\;C:\Data\DEV\ControllerWeb\scripts;"/>
    <add key="WSGI_LOG" value="C:\Data\DEV\ControllerWeb\wfastcgi.log"/>
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Data\DEV\ControllerWeb\venv\scripts\python.exe|C:\Data\DEV\ControllerWeb\wfastcgi.py" resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
  </system.webServer>
</configuration>